/* GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
    font-size: 62.5%; }

body {
    font-family: "Nunito", sans-serif;
    background-color: #fff;
    font-size: 2rem;
}

/* INDEX */

.header__logo{
    text-align: center;
}
.logoMenu{
    width: 40%;
}
.menuLg{
    flex-direction: row;
    justify-content: space-evenly;
}
.menuLg ul{
    align-self: center;
}
.menuLg li{
    margin: 2rem 2rem 0 2rem;
}
.menuLg li a{
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

/* Slide Menu */
.fa-plane{
    cursor: pointer;
    color:white;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: auto;
}
.menu-wrap {
    position: fixed;
    right: 0;
    z-index: 1001;
    width: 300px;
    height: 100%;
    padding: 40px;
    background-color: #9ceb04;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.5s cubic-bezier(0.7,0,0.3,1);
    transform: translate3d(360px,0,0);
}
.menu-wrap.active {
    transform: translate3d(0px,0,0);
}

  /* Buttons */
.menu-button, 
.close-button {
    position: fixed;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: #9ceb04;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.menu-button {
    right: 0px;
    z-index: 102;
}
.close-button {
    left: -50px;
    z-index: 100;
}
/* Fin Slide Menu */


.dropdown-menu{
    font-size: 2rem;
}

.imagenFondo img{
    width: 100%;
}
.ofertas{
    background-color: #9ceb04;
}
.ofertas h2{
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

footer{
    background-color: #4ca4e3;
    color: #fff;
}
.footerImagen{
    text-align: end;
    align-self: center;
}
.footerImagen img{
    width: 15%;
}

/* NOSOTROS */
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 800;
}
.textoNosotros p{
    margin: 30px 0;
}

/* DESTINOS */
.paquetes{
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
}
.fondoForm{
    background-color: #4ca4e3 ;
    border-radius: 2rem;
    padding: 2rem;
}
.form__viaje{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 3rem;
}

.form__viaje h4{
    font-size: 3rem;
    font-weight: 800;
}

.card{
    border: 2px solid #9ceb04;
    border-radius: 3rem;
    margin:2rem;
}

.card h2{
    font-size: 4rem;
    font-weight: 800;
}

.precio{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: right;
}
.persona{
    font-size: 1.2rem;
    text-align: right;
}

.boton{
    background-color: #4ca4e3;
    color: #fff;
    font-size: 2rem;
    padding: 1.5rem 3rem;
}

.botonComprar{
    background-color: #4ca4e3;
    color: #fff;
    font-size: 2.5rem;
    padding: 1.5rem 5rem;
    display: flex;
    margin: auto;
}

.botonComprar2{
    background-color: #9ceb04;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    margin:auto;
    padding: 1rem 2rem;
}

input[type=text], input[type=number], option{
    font-size: 2rem;
}

.select{
    font-size: 2rem;
    
}

.total{
    margin: 2rem 0;
    text-align: center;
}
.sub{
    text-decoration: underline;
}
.sub2{
    text-decoration: underline;
    margin-top: 2rem;
}

.sumatotal{
    font-size: 2.5rem;
}
.resumen{
    font-size: 1.5rem;
    text-align: left;
    font-style: italic;
    text-transform: uppercase;
}
/* CONTACTO */
.h2__contacto{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.form__contacto input{
    font-size: 2rem;
}
.form__contacto textarea{
    font-size: 2rem;
}
.form__contacto input:focus{
    background-color: #4ca4e371;
}
.form__contacto textarea:focus{
    background-color: #4ca4e371;
}
.form__contacto button[type=submit]{
    font-size: 2rem;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
